## IntelliJ project files
.idea
*.iml

## Generated projects
# The generated project from scaffold-code-from-example.sh
example-tryout
# The generated project from cookiecutter
cart-service

## Build artifacts
target
