package {{package_name}}.repository;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.test.context.TestConfiguration;
import org.springframework.context.annotation.Import;
import {{package_name}}.repository.config.JpaAdapterConfig;

@SpringBootApplication
public class {{domain_capitalized}}JpaAdapterApplication {

  public static void main(String[] args) {
    SpringApplication.run({{domain_capitalized}}JpaAdapterApplication.class, args);
  }

  @TestConfiguration
  @Import(JpaAdapterConfig.class)
  static class {{domain_capitalized}}JpaTestConfig {}
}
