package {{package_name}}.rest;

import static org.assertj.core.api.Assertions.assertThat;
import static org.assertj.core.api.Assertions.within;
import static org.springframework.boot.test.context.SpringBootTest.WebEnvironment.RANDOM_PORT;

import java.time.LocalDateTime;
import java.time.temporal.ChronoUnit;
import java.util.List;
import org.junit.jupiter.api.DisplayName;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.ExtendWith;
import org.mockito.Mockito;
import org.mockito.junit.jupiter.MockitoExtension;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.resttestclient.TestRestTemplate;
import org.springframework.boot.resttestclient.autoconfigure.AutoConfigureTestRestTemplate;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.boot.test.web.server.LocalServerPort;
import org.springframework.http.HttpStatus;
import org.springframework.test.context.bean.override.mockito.MockitoBean;
import {{package_name}}.domain.exception.{{domain_capitalized}}NotFoundException;
import {{package_name}}.domain.model.{{domain_capitalized}};
import {{package_name}}.domain.port.Request{{domain_capitalized}};
import {{package_name}}.rest.generated.model.{{domain_capitalized}}Info;
import {{package_name}}.rest.generated.model.ProblemDetail;

@ExtendWith(MockitoExtension.class)
@SpringBootTest(classes = {{domain_capitalized}}RestAdapterApplication.class, webEnvironment = RANDOM_PORT)
@AutoConfigureTestRestTemplate
public class {{domain_capitalized}}ResourceTest {

  private static final String LOCALHOST = "http://localhost:";
  private static final String API_URI = "/api/v1/{{domain_plural}}";
  @LocalServerPort private int port;
  @Autowired private TestRestTemplate restTemplate;
  @MockitoBean private Request{{domain_capitalized}} request{{domain_capitalized}};

  @Test
  @DisplayName("should start the rest adapter application")
  public void startup() {
    assertThat(Boolean.TRUE).isTrue();
  }

  @Test
  @DisplayName("should give {{domain_plural}} when asked for {{domain_plural}} with the support of domain stub")
  public void obtain{{domain_plural_capitalized}}FromDomainStub() {
    // Given
    var {{domain}} = {{domain_capitalized}}.builder().code(1L).description("Johnny Johnny Yes Papa !!").build();
    Mockito.lenient().when(request{{domain_capitalized}}.get{{domain_plural_capitalized}}()).thenReturn(List.of({{domain}}));
    // When
    var url = LOCALHOST + port + API_URI;
    var responseEntity = restTemplate.getForEntity(url, {{domain_capitalized}}Info.class);
    // Then
    assertThat(responseEntity.getStatusCode()).isEqualTo(HttpStatus.OK);
    assertThat(responseEntity.getBody()).isNotNull();
    assertThat(responseEntity.getBody().get{{domain_plural_capitalized}}())
        .isNotEmpty()
        .extracting("description")
        .contains("Johnny Johnny Yes Papa !!");
  }

  @Test
  @DisplayName(
      "should give the {{domain}} when asked for an {{domain}} by code with the support of domain stub")
  public void obtain{{domain_capitalized}}ByCodeFromDomainStub() {
    // Given
    var code = 1L;
    var description = "Johnny Johnny Yes Papa !!";
    var {{domain}} = {{domain_capitalized}}.builder().code(code).description(description).build();
    Mockito.lenient().when(request{{domain_capitalized}}.get{{domain_capitalized}}ByCode(code)).thenReturn({{domain}});
    // When
    var url = LOCALHOST + port + API_URI + "/" + code;
    var responseEntity = restTemplate.getForEntity(url, {{domain_capitalized}}.class);
    // Then
    assertThat(responseEntity.getStatusCode()).isEqualTo(HttpStatus.OK);
    assertThat(responseEntity.getBody()).isNotNull();
    assertThat(responseEntity.getBody()).isEqualTo({{domain}});
  }

  @Test
  @DisplayName(
      "should give exception when asked for an {{domain}} by code that does not exists with the support of domain stub")
  public void shouldGiveExceptionWhenAskedForAn{{domain_capitalized}}ByCodeFromDomainStub() {
    // Given
    var code = -1000L;
    Mockito.lenient()
        .when(request{{domain_capitalized}}.get{{domain_capitalized}}ByCode(code))
        .thenThrow(new {{domain_capitalized}}NotFoundException(code));
    // When
    var url = LOCALHOST + port + API_URI + "/" + code;
    var responseEntity = restTemplate.getForEntity(url, ProblemDetail.class);
    // Then
    var expectedProblemDetail =
        ProblemDetail.builder()
            .type("https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404")
            .status(HttpStatus.NOT_FOUND.value())
            .detail("{{domain_capitalized}} with code -1000 does not exist")
            .instance("/api/v1/{{domain_plural}}/-1000")
            .title("{{domain_capitalized}} not found")
            .build();
    assertThat(responseEntity.getStatusCode()).isEqualTo(HttpStatus.NOT_FOUND);
    assertThat(responseEntity.getBody()).isNotNull();
    assertThat(responseEntity.getBody())
        .usingRecursiveComparison()
        .ignoringFields("timestamp")
        .isEqualTo(expectedProblemDetail);
    assertThat(responseEntity.getBody().getTimestamp())
        .isCloseTo(LocalDateTime.now(), within(100L, ChronoUnit.SECONDS));
  }
}
