package {{package_name}}.cucumber;

import static org.springframework.boot.test.context.SpringBootTest.WebEnvironment.RANDOM_PORT;

import io.cucumber.spring.CucumberContextConfiguration;
import org.springframework.boot.resttestclient.autoconfigure.AutoConfigureTestRestTemplate;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.test.context.ActiveProfiles;
import {{package_name}}.boot.{{domain_capitalized}}Application;

@SpringBootTest(classes = {{domain_capitalized}}Application.class, webEnvironment = RANDOM_PORT)
@CucumberContextConfiguration
@ActiveProfiles("test")
@AutoConfigureTestRestTemplate
public class SpringCucumberTestConfig {}
